{% include 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Blog</title>

<!--SHORTCUT ICON-->
<link rel="shortcut icon" href="" />

<!--META TAGS-->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 

<!--PLUGIN-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<link rel="stylesheet" href="{% static 'styles/Blog.css' %}">

</head>
<body>

    
    
    <!-- <h1>Latest News from Blog</h1>
    <img class="deco" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fdivider-png-hd-divider-png-1589-304-1589.png&f=1&nofb=1"> -->
    
    
    <!--BANNER-->
    <div class="banner" id="banner">
    <div class="slideshow">
    <div class="overlay"></div>
    <img class="mySlides" src=" {% static '/images/many.webp' %} ">
    <img class="mySlides" src="{% static '/images/ma.webp' %}">
    <img class="mySlides" src="{% static '/images/blog.jpg ' %}">
    </div>
    <div id="ourclients">
    <div class="clients-wrap">
    <ul id="clientlogo" class="clearfix">
    <li>
    <h4>1Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    <li>
    <h4>2Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    <li>
    <h4>3Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    <li>
    <h4>4Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    <li>
    <h4>5Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    <li>
    <h4>6Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
    </li>
    </ul>
    </div>
    </div>
    </div>
    
    
   

    





    
    
    <!--CONTAINER-->
    <div class="container" id="container">
    <table>
    <tr>
    <td>
    <div class="cards">
    <h2>RECENT POSTS</h2>
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    <span class="tag">PROGRAMMING</span>
    </section>
    <section class="content">
    <h4>What is programming language? </h4>
    <div class="line-1">
    <span><i class="fa fa-user"></i> TEQUILA</span>
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="" class="btn1">READ MORE</a>
    </section>
    </div>
    <!--CARD ENDS-->
    <button class="btn2">Load More</button>
    </div>
    </td>
    
    
    
    
    <td>
    <div class="cards right_cards">
    <h2>POPULAR POSTS</h2>
    <!--CARD BEGINING-->
    <div class="card right_card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    </section>
    <section class="content">
    <a href="#">What is Language Translator and its Types? Differences between Compiler and Interpreter</a>
    <div class="line-1">
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card right_card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    </section>
    <section class="content">
    <a href="#">What is Language Translator and its Types? Differences between Compiler and Interpreter</a>
    <div class="line-1">
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card right_card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    </section>
    <section class="content">
    <a href="#">What is Language Translator and its Types? Differences between Compiler and Interpreter</a>
    <div class="line-1">
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    </section>
    </div>
    <!--CARD ENDS-->
    <!--CARD BEGINING-->
    <div class="card right_card">
    <section class="author">
    <img src="https://i.ibb.co/18xK5mp/banner.jpg" alt="">
    </section>
    <section class="content">
    <a href="#">What is Language Translator and its Types? Differences between Compiler and Interpreter</a>
    <div class="line-1">
    <span><i class="fa fa-clock-o"></i> OCTOBER 15, 2021</span>
    </div>
    </section>
    </div>
    <!--CARD ENDS-->
    </div>
    </td>
    </tr>
    </table>
    </div>
    
    
    
    
    
    {% include 'footer.html' %}
    
    
    <!--ROLL BACK-->
    <a href="#" class="roll_back animate" id="roll_back"><i class="fa fa-angle-up"></i></a>
    <script>















//SLIDE SHOW
var myIndex = 0;
carousel();
function carousel() {
var i;
var x = document.getElementsByClassName("mySlides");
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
myIndex++;
if (myIndex > x.length) {myIndex = 1}    
x[myIndex-1].style.display = "block";  
setTimeout(carousel, 5000); // Change image every 2 seconds
}














//INTERNET SPEED DETECT
var imageAddr = "images/slide_1.jpg"; 
var downloadSize = 289059;
function ShowProgressMessage(msg) {
if (console) {
if (typeof msg == "string") {
console.log(msg);
} else {
for (var i = 0; i < msg.length; i++) {
console.log(msg[i]);
}
}
}
}
function InitiateSpeedDetection() {
ShowProgressMessage("Please wait...");
window.setTimeout(MeasureConnectionSpeed, 1);
};    
if (window.addEventListener) {
window.addEventListener('load', InitiateSpeedDetection, false);
} else if (window.attachEvent) {
window.attachEvent('onload', InitiateSpeedDetection);
}
function MeasureConnectionSpeed() {
var startTime, endTime;
var download = new Image();
download.onload = function () {
endTime = (new Date()).getTime();
showResults();
}
download.onerror = function (err, msg) {
ShowProgressMessage("Invalid image, or error downloading");
}
startTime = (new Date()).getTime();
var cacheBuster = "?nnn=" + startTime;
download.src = imageAddr + cacheBuster;
function showResults() {
var duration = (endTime - startTime) / 1000;
var bitsLoaded = downloadSize * 8;
var speedBps = (bitsLoaded / duration).toFixed(2);
var speedKbps = (speedBps / 1024).toFixed(2);
var speedMbps = (speedKbps / 1024).toFixed(0);
if(speedMbps<="1"){
document.getElementById("banner").style.display='none';
document.getElementById("container").style.marginTop='20vh';
}
}
}








$(function() {
var $clientslider = $('#clientlogo');
var clients = $clientslider.children().length;
var clientwidth = (clients * 220); 
$clientslider.css('width', clientwidth);
var rotating = true;
var clientspeed = 1800;
var seeclients = setInterval(rotateClients, clientspeed);
$(document).on({
mouseenter: function() {
rotating = false;
},
mouseleave: function() {
rotating = true;
}
}, '#ourclients');
function rotateClients() {
if (rotating != false) {
var $first = $('#clientlogo li:first');
$first.animate({
'margin-left': '-33%'
}, 2000, function() {
$first.remove().css({
'margin-left': '0px'
});
$('#clientlogo li:last').after($first);
});
}
}
});
    </script>
 

</body>
</html>